/******TRACKS*****/
/* line 53, ../compass/sass/app.scss */
.contact-container {
  min-height: 900px;
}

/* line 57, ../compass/sass/app.scss */
.menu-container {
  text-align: center;
  width: 50%;
  margin: 0 20% 0 20%;
  margin-top: 18px;
}

/* line 64, ../compass/sass/app.scss */
.tracks-container {
  overflow: hidden;
  text-align: center;
  min-height: 900px;
  padding: 0px;
  margin-top: 30px;
}
/* line 71, ../compass/sass/app.scss */
.tracks-container .track-thumb.yellow {
  list-style: none;
  display: inline-block;
  margin: 12px 8px;
  position: relative;
  overflow: hidden;
  max-height: 300px;
}
/* line 19, ../compass/sass/app.scss */
.tracks-container .track-thumb.yellow .track-cover {
  width: 230px;
  border: solid 4px #FFE000;
}
/* line 24, ../compass/sass/app.scss */
.tracks-container .track-thumb.yellow .track-title {
  font-size: 1em;
  display: block;
  font-weight: normal;
  width: 80%;
  margin: 7px 10% 0px 10%;
  color: #FFE000;
}
/* line 33, ../compass/sass/app.scss */
.tracks-container .track-thumb.yellow .track-category {
  color: #ebebeb;
  font-weight: bold;
  font-size: 1em;
  color: #BEBEBE;
}
/* line 40, ../compass/sass/app.scss */
.tracks-container .track-thumb.yellow .btn-play {
  position: absolute;
  top: 50%;
  color: #FFF;
  background: #FFE000;
  top: 35%;
  left: 35%;
  cursor: pointer;
  font-size: 1.3em;
}
/* line 74, ../compass/sass/app.scss */
.tracks-container .track-thumb.purple {
  list-style: none;
  display: inline-block;
  margin: 12px 8px;
  position: relative;
  overflow: hidden;
  max-height: 300px;
}
/* line 19, ../compass/sass/app.scss */
.tracks-container .track-thumb.purple .track-cover {
  width: 230px;
  border: solid 4px #6d3ca9;
}
/* line 24, ../compass/sass/app.scss */
.tracks-container .track-thumb.purple .track-title {
  font-size: 1em;
  display: block;
  font-weight: normal;
  width: 80%;
  margin: 7px 10% 0px 10%;
  color: #6d3ca9;
}
/* line 33, ../compass/sass/app.scss */
.tracks-container .track-thumb.purple .track-category {
  color: #ebebeb;
  font-weight: bold;
  font-size: 1em;
  color: #BEBEBE;
}
/* line 40, ../compass/sass/app.scss */
.tracks-container .track-thumb.purple .btn-play {
  position: absolute;
  top: 50%;
  color: #FFF;
  background: #6d3ca9;
  top: 35%;
  left: 35%;
  cursor: pointer;
  font-size: 1.3em;
}
/* line 77, ../compass/sass/app.scss */
.tracks-container .track-thumb.green {
  list-style: none;
  display: inline-block;
  margin: 12px 8px;
  position: relative;
  overflow: hidden;
  max-height: 300px;
}
/* line 19, ../compass/sass/app.scss */
.tracks-container .track-thumb.green .track-cover {
  width: 230px;
  border: solid 4px #85c305;
}
/* line 24, ../compass/sass/app.scss */
.tracks-container .track-thumb.green .track-title {
  font-size: 1em;
  display: block;
  font-weight: normal;
  width: 80%;
  margin: 7px 10% 0px 10%;
  color: #85c305;
}
/* line 33, ../compass/sass/app.scss */
.tracks-container .track-thumb.green .track-category {
  color: #ebebeb;
  font-weight: bold;
  font-size: 1em;
  color: #BEBEBE;
}
/* line 40, ../compass/sass/app.scss */
.tracks-container .track-thumb.green .btn-play {
  position: absolute;
  top: 50%;
  color: #FFF;
  background: #85c305;
  top: 35%;
  left: 35%;
  cursor: pointer;
  font-size: 1.3em;
}
/* line 80, ../compass/sass/app.scss */
.tracks-container .track-thumb.orange {
  list-style: none;
  display: inline-block;
  margin: 12px 8px;
  position: relative;
  overflow: hidden;
  max-height: 300px;
}
/* line 19, ../compass/sass/app.scss */
.tracks-container .track-thumb.orange .track-cover {
  width: 230px;
  border: solid 4px #fb4d22;
}
/* line 24, ../compass/sass/app.scss */
.tracks-container .track-thumb.orange .track-title {
  font-size: 1em;
  display: block;
  font-weight: normal;
  width: 80%;
  margin: 7px 10% 0px 10%;
  color: #fb4d22;
}
/* line 33, ../compass/sass/app.scss */
.tracks-container .track-thumb.orange .track-category {
  color: #ebebeb;
  font-weight: bold;
  font-size: 1em;
  color: #BEBEBE;
}
/* line 40, ../compass/sass/app.scss */
.tracks-container .track-thumb.orange .btn-play {
  position: absolute;
  top: 50%;
  color: #FFF;
  background: #fb4d22;
  top: 35%;
  left: 35%;
  cursor: pointer;
  font-size: 1.3em;
}
/* line 83, ../compass/sass/app.scss */
.tracks-container .track-thumb.blue {
  list-style: none;
  display: inline-block;
  margin: 12px 8px;
  position: relative;
  overflow: hidden;
  max-height: 300px;
}
/* line 19, ../compass/sass/app.scss */
.tracks-container .track-thumb.blue .track-cover {
  width: 230px;
  border: solid 4px #00a2a7;
}
/* line 24, ../compass/sass/app.scss */
.tracks-container .track-thumb.blue .track-title {
  font-size: 1em;
  display: block;
  font-weight: normal;
  width: 80%;
  margin: 7px 10% 0px 10%;
  color: #00a2a7;
}
/* line 33, ../compass/sass/app.scss */
.tracks-container .track-thumb.blue .track-category {
  color: #ebebeb;
  font-weight: bold;
  font-size: 1em;
  color: #BEBEBE;
}
/* line 40, ../compass/sass/app.scss */
.tracks-container .track-thumb.blue .btn-play {
  position: absolute;
  top: 50%;
  color: #FFF;
  background: #00a2a7;
  top: 35%;
  left: 35%;
  cursor: pointer;
  font-size: 1.3em;
}
/* line 86, ../compass/sass/app.scss */
.tracks-container .track-thumb.red {
  list-style: none;
  display: inline-block;
  margin: 12px 8px;
  position: relative;
  overflow: hidden;
  max-height: 300px;
}
/* line 19, ../compass/sass/app.scss */
.tracks-container .track-thumb.red .track-cover {
  width: 230px;
  border: solid 4px #e31819;
}
/* line 24, ../compass/sass/app.scss */
.tracks-container .track-thumb.red .track-title {
  font-size: 1em;
  display: block;
  font-weight: normal;
  width: 80%;
  margin: 7px 10% 0px 10%;
  color: #e31819;
}
/* line 33, ../compass/sass/app.scss */
.tracks-container .track-thumb.red .track-category {
  color: #ebebeb;
  font-weight: bold;
  font-size: 1em;
  color: #BEBEBE;
}
/* line 40, ../compass/sass/app.scss */
.tracks-container .track-thumb.red .btn-play {
  position: absolute;
  top: 50%;
  color: #FFF;
  background: #e31819;
  top: 35%;
  left: 35%;
  cursor: pointer;
  font-size: 1.3em;
}

/******HERO*****/
/** Band **/
/* line 94, ../compass/sass/app.scss */
.hero {
  background-repeat: no-repeat;
  background-position: 0px -200px;
  background-size: cover;
  background-color: #000;
  overflow: hidden;
  height: 580px;
  background-position: center 16%;
  position: relative;
}

/* line 105, ../compass/sass/app.scss */
.hero.night {
  background-image: url("../img/bg-latroyon-hd2.jpg");
}

/* line 109, ../compass/sass/app.scss */
.hero.day {
  background-image: url("../img/bg-latroyon-hd.jpg");
}

/* line 114, ../compass/sass/app.scss */
.logo {
  background-image: url("../img/logo-latroyon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
  width: 100%;
  height: 100%;
}

/* line 123, ../compass/sass/app.scss */
.block-search {
  width: 80%;
  margin: 0 auto;
  padding-top: 25px;
}
/* line 127, ../compass/sass/app.scss */
.block-search .input-group-addon {
  background: #FFE000;
  color: #FFF;
}

/** social-network **/
/* line 134, ../compass/sass/app.scss */
.social-network {
  text-align: center;
  padding: 0 0 0 0;
  margin: 30px 0px 30px 0px;
}
/* line 140, ../compass/sass/app.scss */
.social-network li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px 0px 10px;
}
/* line 146, ../compass/sass/app.scss */
.social-network a {
  display: block;
  width: 50px;
  height: 50px;
  background: #F00;
}
/* line 153, ../compass/sass/app.scss */
.social-network .icon-mixcloud {
  background: url("../img/icon-mixcloud.png");
}
/* line 156, ../compass/sass/app.scss */
.social-network .icon-soundcoud {
  background: url("../img/icon-soundcloud.png");
}
/* line 159, ../compass/sass/app.scss */
.social-network .icon-facebook {
  background: url("../img/icon-facebook.png");
}
