<div class="container contact-container">
	<div class="page-header">
		<h1>Contact</h1>
	</div>
	<div class="col-md-6">
		<p>Hello, we are La Troyon. We are Edeuzo and Cordon Bleu from Paris. La Troyon Square est un carrefour musical où les grands artistes se retrouvent. Chaque mois, La Troyon vous concoctera 1 mixtape : un par Edeuzo et un par Cordon Bleu Tous les 2 mois, un special guest choisi avec amour viendra apporter sa contribution, avec un set qui fera danser les crocodiles d'Australie jusqu'aux pingouins d'Alaska ! http://facebook.com/LaTroyon</p>
	</div>
	<div class="col-md-6">
		<ul class="social-network">
            <li><a href="http://www.mixcloud.com/latroyonsquare/" class="icon-mixcloud" target="blank"></a></li>
            <li><a href="https://soundcloud.com/latroyon" class="icon-soundcoud" target="blank"></a></li>
            <li><a href="https://www.facebook.com/LaTroyon?fref=ts" class="icon-facebook" target="blank"></a></li>
        </ul>
	</div>
</div>