<div class="container-fluid">

	<div class="block-search">
		<form class="form-horizontal" role="form">
			<div class="form-group form-group-lg">
				<div class="input-group">
		    		<input class="form-control" type="text" placeholder="Rechercher... Filtrer..." ng-model="query">
					<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
		    	</div>
			</div>
		</form>
	</div>

	<ul class="tracks-container" ng-controller="TrackListCtrl">
	  	<li ng-repeat="track in tracks | filter:query" class="track-thumb {{track.colorClass}} animated fliper"
	    	ng-mouseenter="hover = true"
	    	ng-mouseleave="hover = false">

	    	<img ng-src="{{track.img}}" class="track-cover img-circle" ng-class="{red: hover}"/>
	    	<a href="#" class="track-title">{{track.name}}</a>
	    	<p class="track-category">{{track.category}}</p>

	    	<div class="btn btn-play animated bouncer" ng-if="hover" ng-click="initPlayer({name: track.name, stream: track.stream, length: track.length})">Play <span class="glyphicon glyphicon-play"></span></div>
		</li>
	</ul>
	<!-- ng-click="initPlayer({stream: track.stream, name: track.name});" -->

</div>
